COMPOSE_PROJECT_NAME=homehub
HOMEHUB_DATA_ROOT=/srv/homehub
HOMEHUB_SECRETS_DIR=/srv/homehub/runtime/secrets
TZ=Asia/Hong_Kong
HOMEHUB_VERSION=dev
HOMEHUB_COMMIT=unknown
HOMEHUB_BUILD_TIME=unknown
TELEGRAM_BRIDGE_ALLOWED_USER_IDS=
TELEGRAM_BRIDGE_ALLOWED_CHAT_IDS=
TELEGRAM_BRIDGE_TTL_DAYS=1
TELEGRAM_BRIDGE_ACK_MODE=private
